<ion-view view-title="Home">
  <ion-content>
    </br>
    <center><h1>Welcome to Rapunzel</h1></center>

    </br>

    <div>
      <center><b>You have {{ num_of_tickets }} Available tickets.</b></center>
    </div>
    
    </br>

    <style>
      .button {
      background-color: #2a2a2a; /* Green */
      border: none;
      color: #ffffff;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
    </style>

    <button style="button" ng-click="goTickets()" class="button button-full">
      Go to Available Tickets
    </button>

  </ion-content>
</ion-view>
