<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <center>
    <img src="img/Rapunzel_logo_transparent.png" width="250" height="250">
    </center>
    <form ng-submit="doLogin()">
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Username" class="custom-white">
  </label>
  <label class="item item-input">
    <input type="Password" placeholder="Password">
  </label>
   <label class="item">
          <button class="button button-block button-balanced" ng-click="goHome()" type="submit">Log in</button>
        </label>
</div>
<center>
  <p> Register</p>
  <p>Forgot Password</p>
</center>
      <!-- <div class="list">
        <label class="item item-input">
          
          <input type="text" placeholder = "Username" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          
          <input type="Password" placeholder = "Password" ng-model="loginData.passwor">
        </label> -->
        <!-- <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
        <center>
        <button class="button button-clear button-balanced">
          Forgot Password

        </button>
        <ion-item menu-close href="#/app/register" ng-click="closeLogin()">
          Register
        </ion-item> -->
        <!-- <img src="http://images4.fanpop.com/image/polls/819000/819325_1314721569230_full.jpg?v=1314721592" height="200" width="500"> -->
        </center>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
