<ion-view view-title="Ticket">
	<ion-content>
	<h4>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Name:</span>
	    		{{ ticket.fullname }}
	    	</div>
	    	<div class="col-10"> </div>
	    	<div class="col">
	    		<span class="input-label">Date:</span>
	    		{{ ticket.ticket_issue_date }}
	    		<!-- {{tickets.ticket.Ticket Issue Date}} -->
	    	</div>
	    </div>
	    <p><p>
	    <div class="row">
		    	<div class="col">
		    		<span class="input-label">Location:</span> 
		    		{{ ticket.location }}
		    	</div>

	    	<div class="col-10"> </div>

		    	<div class="col">
		    		<!-- <form name="nav-form" id="dest"> -->
		    		<!-- <value name="formData.dest" value={{ticket.location}}> -->
		    		<form id="nav-form" ng-controller="NavCtrl">
		    		<button class="button button-positive button-small center icon-custom ion-map" ng-click=navigate()>
			    		<h4><font color="white">Navigate</font></h4>
			    	</button>
		    	</div>
	    </div>
	    <p><p>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Issue:</span>
	    		{{ ticket.title }}
	    	</div>
	    	<div class="col-10"> </div>
	    	<div class="col">
	    		<span class="input-label">Attachments:</span>
	    		{{  }}
	    	</div>
	    </div>
	    <p><p>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Issue details:</span>
	    		{{ ticket.title }}
	    	</div>
	    </div>
	    <br><br>

	    	<button icon-left="" ion-button="" ng-click="goBack()" class="button icon-custom button-positive button-large">
		    	<span class="button-inner">
			    	<ion-icon name="arrow-back" role="img" class="icon-ios ion-ios-arrow-back"></ion-icon>
			    	<h4> Back</h4>
			    </span><div class="button-effect"></div>
		    </button>
			<button icon-left="" ion-button="" ng-click="goMessage()" class="button icon-custom button-positive button-large" >
		    	<span class="button-inner">
			    	<ion-icon name="arrow-back" role="img" class="icon-ios ion-ios-chatboxes-outline"></ion-icon>
			    	<h4> Messages </h4>
			    </span><div class="button-effect"></div>
		    </button>
	</ion-content>
</ion-view>
