<ion-view view-title="Ticket #"> {{ ticket.id }}
	<ion-content>
	<h4>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Name:</span>
	    		{{ ticket.id }}
	    	</div>
	    	<div class="col-10"> </div>
	    	<div class="col">
	    		<span class="input-label">Date:</span>
	    		11/12/2016
	    		<!-- {{tickets.ticket.Ticket Issue Date}} -->
	    	</div>
	    </div>
	    <p>
	    <div class="row">
		    	<div class="col">
		    		<span class="input-label">Location:</span> 
		    		1610 Coliseum Dr, Hampton, VA 23666
		    	</div>

	    	<div class="col-10"> </div>

		    	<div class="col">
		    		<button class="button button-positive button-small center icon-custom ion-map" ng-click=navigate()>
			    		<h4><font color="white">Navigate</font></h4>
			    	</button>
		    	</div>
	    </div>
	    <p>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Issue:</span>
	    		{{ ticket.id }}
	    	</div>
	    	<div class="col-10"> </div>
	    	<div class="col">
	    		<span class="input-label">Attachments:</span>
	    		{{ ticket.id }}
	    	</div>
	    </div>
	    <p>
	    <div class="row">
	    	<div class="col">
	    		<span class="input-label">Issue details:</span>
	    		{{ ticket.id }}
	    	</div>
	    </div>

    </h4>
    </font>
	</ion-content>
</ion-view>