.color-menubar{
  background: #33cd5f !important
}
.scroll-content{
	background-color: #2f2f2f;
}
/*.item-complex .item-content{
	color: #ffffff;
}*/
.input-label{
	color:white;
}
.item-complex .item-content
{
	color: #ffffff;
	background-color: #2f2f2f;
}
input[type="text"], input[type="password"]{
	color:white;
}
.item{
	background-color: #2f2f2f;
}
.button.button-custom {
	border-color: transparent;
	background-color: transparent;
	color: #000000; }
	.button.button-custom:onclick {
	  color: rgba(255,255,255,.5);
	  text-decoration: none;
	  padding-top: 1px;
	    }
	    .button.button-block {
	    	border-color: transparent;
	background-color: #33cd5f;
	color: #000000;
	    }
	    .button.button-block:onclick {
	    		 color: rgba(255,255,255,.5);
	    		 background-color: #33cd4e; 
	    		 /*This color is slightly off of our green*/
	    }
	    .button.button-block{
	    	color:white;
	    }
.button.button-custom{
	color:white;
}
.center {
	align-content: center;
}

.button.icon-custom.ion-map {
	font-size: 30px;
	padding-top: 5px;
	border-color: black;
}

/* UNUSED, for reference only */
.button.button-gold {
	border-color: transparent;
	background-color: #625031;
	color: #000000; }
	.button.button-gold:hover {
	  color: #000000;
	  text-decoration: none; }
	.button.button-gold.active, .button.button-gold.activated {
	  background-color:#c0a062; }
	.button.button-gold.button-clear {
	  border-color: transparent;
	  background: none;
	  box-shadow: none;
	  color: #625031; }
	.button.button-gold.button-icon {

	  border-color: transparent;
	  background: none; }
	.button.button-gold.button-outline {
	  border-color: #625031;
	  background: transparent;
	  color: #625031; }
	 .button.button-gold.button-outline.active, .button.button-gold.button-outline.activated {
		background-color: #625031;
		box-shadow: none;
		color: #000000; }